<div class="col-md-12">
    <div class="card card-container">
        <h3>Ändra produkt</h3>
        <div class="alert alert-warning" *ngIf="errorMessage">
            Uppdatering misslyckades!<br />{{ errorMessage }}
        </div>
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="productName">Produktnamn:</label>
                <input type="text" class="form-control" name="productName" [(ngModel)]="form.productName" required
                    #firstName="ngModel" />
            </div>
            <div class="form-group">
                <label for="productNumber">Artikelnummer:</label>
                <input type="text" class="form-control" name="productNumber" [(ngModel)]="form.productNumber" required
                    #lastName="ngModel" />
            </div>
            <div class="form-group">
                <label for="productDescription">Beskrivning:</label>
                <input type="text" class="form-control" name="productDescription" [(ngModel)]="form.productDescription" required
                    #lastName="ngModel" />
            </div>
            <div class="form-group">
                <label for="productPrice">Pris:</label>
                <input type="text" class="form-control" name="productPrice" [(ngModel)]="form.productPrice" required
                    #lastName="ngModel" />
            </div>
            <div class="form-group">
                <label for="category">Kategori:</label>
                <input type="text" class="form-control" name="category" [(ngModel)]="form.category" required
                    #lastName="ngModel" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Ändra produkt</button>
            </div>
            <div class="form-group">
                <button [routerLink]="['/main']" class="btn btn-secondary btn-block">Gå tillbaka</button>
            </div>
        </form>
    </div>
</div>